<!DOCTYPE html>
<html>
<head>
	<title>Chat Prototype</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <div class="widget">
        <div class="group_title">
            <div><b>Chat Members</b></div>
        </div>

        <div class="member_list" id="member_list">
            {% for i in user_list %}
            <div>
                <div class="member">
                    <div class="member_name">
                        <div>{{ i }}</div>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>

        <div class="role_description" id="role_description">
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="messages" id="messages"></div>

    <form class="input_for_message" id="message_input_form">
        <label>
            <input class="message_input" type="text" id="message_input" placeholder="Enter message here...">
        </label>
    </form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script type="text/javascript">
    const this_username = `{{ user }}`;
</script>

<script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

</html>
