<!DOCTYPE html>
<html>
<head>
    <title>CHATmeleon</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <div class="widget">
        <div class="group_title">
            <div><b>Online Members</b></div>
        </div>

        <div>
            <a href="/">
                <button class="disconnect_button" onclick="disconnect()">Disconnect</button>
            </a>
        </div>

        <div class="invisible_text">
            Disconnect Button
        </div>

        <div class="member_list" id="member_list">
            {% for i in user_list %}
            <div>
                <div class="member">
                    {% if i.lower() == "küken" %}
                    <img class="member_picture" src="/static/images/kueken.png" alt="">
                    {% elif i.lower() == "einhorn" %}
                    <img class="member_picture" src="/static/images/einhorn.png" alt="">
                    {% elif i.lower() == "faultier" %}
                    <img class="member_picture" src="/static/images/faultier.png" alt="">
                    {% elif i.lower() == "känguru" %}
                    <img class="member_picture" src="/static/images/kaenguru.png" alt="">
                    {% elif i.lower() == "krokodil" %}
                    <img class="member_picture" src="/static/images/krokodil.png" alt="">
                    {% elif i.lower() == "schaf" %}
                    <img class="member_picture" src="/static/images/schaf.png" alt="">
                    {% elif i.lower() == "wiesel" %}
                    <img class="member_picture" src="/static/images/wiesel.png" alt="">
                    {% elif i.lower() == "zebra" %}
                    <img class="member_picture" src="/static/images/zebra.png" alt="">    
                    {% else %}
                    <img class="member_picture" src="/static/images/profile.png" alt="">
                    {% endif %}

                    <div class="member_name">
                        <div>{{ i }}</div>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>

        {% if role == "küken" %}
        <div class="role_description" id="role_description">
            <div>Du schlüpfst in eine Rolle! Du bist jetzt das <b>Küken</b> und unterhältst dich mit Freunden aus deiner Klasse im Chat. Ihr redet über den Wandertag oder Ausflug morgen.</div>
            <div>Wichtig für deine Rolle:</div>
            <ul>
                <li>Schau zu und lies aufmerksam den Chat!</li>
            </ul>
            <div>Küken ist neu und sucht Anschluss bei euch. <u>Unterhalte dich auch mit Küken!</u></div>
        </div>
        {% endif %}

        {% if role == "faultier" %}
        <div class="role_description" id="role_description">
            <div>Du schlüpfst in eine Rolle! Du bist jetzt das <b>Faultier</b> und unterhältst dich mit Freunden aus deiner Klasse im Chat. Ihr redet über den Wandertag oder Ausflug morgen.</div>
            <div>Wichtig für deine Rolle:</div>
            <ul>
                <li>Schule ist leicht.</li>
                <li>Du liebst Computerspiele.</li>
                <li>Du bist gerne mal faul.</li>
            </ul>
            <div>Küken ist neu und sucht Anschluss bei euch. <u>Unterhalte dich auch mit Küken!</u></div>
        </div>
        {% endif %}

        {% if role == "schaf" %}
        <div class="role_description" id="role_description">
            <div>Du schlüpfst in eine Rolle! Du bist jetzt das <b>Schaf</b> und unterhältst dich mit Freunden aus deiner Klasse im Chat. Ihr redet über den Wandertag oder Ausflug morgen.</div>
            <div>Wichtig für deine Rolle:</div>
            <ul>
                <li>Du bist eher gemütlich.</li>
                <li>Du bist Klassensprecher*in.</li>
                <li>Du liebst es mit anderen zusammen zu sein.</li>
            </ul>
            <div>Küken ist neu und sucht Anschluss bei euch. <u>Unterhalte dich auch mit Küken!</u></div>
        </div>
        {% endif %}

        {% if role == "wiesel" %}
        <div class="role_description" id="role_description">
            <div>Du schlüpfst in eine Rolle! Du bist jetzt das <b>Wiesel</b> und unterhältst dich mit Freunden aus deiner Klasse im Chat. Ihr redet über den Wandertag oder Ausflug morgen.</div>
            <div>Wichtig für deine Rolle:</div>
            <ul>
                <li>Du bist clever.</li>
                <li>Du bist immer in Bewegung.</li>
                <li>Du magst Computerspiele.</li>
            </ul>
            <div>Küken ist neu und sucht Anschluss bei euch. <u>Unterhalte dich auch mit Küken!</u></div>
        </div>
        {% endif %}

        {% if role == "einhorn" %}
        <div class="role_description" id="role_description">
            <div>Du schlüpfst in eine Rolle! Du bist jetzt das <b>Einhorn</b> und unterhältst dich mit Freunden aus deiner Klasse im Chat. Ihr redet über den Wandertag oder Ausflug morgen.</div>
            <div>Wichtig für deine Rolle:</div>
            <ul>
                <li>Du liebst tanzen, Partys und flirten.</li>
                <li>Du machst viel für die Schule.</li>
                <li>Du bist immer für andere da.</li>
            </ul>
            <div>Küken ist neu und sucht Anschluss bei euch. <u>Unterhalte dich auch mit Küken!</u></div>
        </div>
        {% endif %}

        {% if role == "krokodil" %}
        <div class="role_description" id="role_description">
            <div>Du schlüpfst in eine Rolle! Du bist jetzt das <b>Krokodil</b> und unterhältst dich mit Freunden aus deiner Klasse im Chat. Ihr redet über den Wandertag oder Ausflug morgen.</div>
            <div>Wichtig für deine Rolle:</div>
            <ul>
                <li>Essen ist ganz wichtig für dich.</li>
                <li>Du bist sehr geduldig.</li>
                <li>Du bist ein guter Beobachter.</li>
            </ul>
            <div>Küken ist neu und sucht Anschluss bei euch. <u>Unterhalte dich auch mit Küken!</u></div>
        </div>
        {% endif %}

        {% if role == "känguru" %}
        <div class="role_description" id="role_description">
            <div>Du schlüpfst in eine Rolle! Du bist jetzt das <b>Känguru</b> und unterhältst dich mit Freunden aus deiner Klasse im Chat. Ihr redet über den Wandertag oder Ausflug morgen.</div>
            <div>Wichtig für deine Rolle:</div>
            <ul>
                <li>Du bist sportlich.</li>
                <li>Schule ist nicht dein Ding.</li>
                <li>Du bist sehr selbstbewusst.</li>
            </ul>
            <div>Küken ist neu und sucht Anschluss bei euch. <u>Unterhalte dich auch mit Küken!</u></div>
        </div>
        {% endif %}

        {% if role == "zebra" %}
        <div class="role_description" id="role_description">
            <div>Du schlüpfst in eine Rolle! Du bist jetzt das <b>Zebra</b> und unterhältst dich mit Freunden aus deiner Klasse im Chat. Ihr redet über den Wandertag oder Ausflug morgen.</div>
            <div>Wichtig für deine Rolle:</div>
            <ul>
                <li>Du bist neugierig.</li>
                <li>Du bist viel unterwegs.</li>
                <li>Du bist leicht zu begeistern.</li>
            </ul>
            <div>Küken ist neu und sucht Anschluss bei euch. <u>Unterhalte dich auch mit Küken!</u></div>
        </div>
        {% endif %}

        {% if role == "spectator" %}
        <button class="clear_button" onclick="clear_chat()">Clear Chat</button>
        {% endif %}
    </div>

    <div class="messages" id="messages"></div>

    <form class="input_for_message" id="message_input_form">
        <label>
            <input class="message_input" type="text" id="message_input" placeholder="Enter message here...">
        </label>
    </form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script type="text/javascript">
    const this_username = `{{ user }}`;
    const this_role = `{{ role }}`;
</script>

<script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

</html>
