<!DOCTYPE html>
<html>
<head>
    <title>CHATmeleon</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <div class="login_box">
        <div class="headline"><b>Welcome to CHATmeleon</b></div>

        <form action="/chat" id="form">
            <div><label>Username</label></div>

            <div><label>
                <input class="login_field" type="text" name="username">
            </label></div>

            <div><label>App Password</label></div>

            <div><label>
                <input id="password" class="login_field" type="password" name="password">
            </label></div>

            <button class="login_button" type="submit"><b>Join</b></button>
        </form>
    </div>
</body>

<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>

</html>
